@mixin backImage($image, $offest: 0px) {
    background: url($image) - 38px * $offest 0;
}

@mixin setBoxProperties($width, $height, $margin: 0) {
    width: $width;
    height: $height;
    margin: $margin;
}

@mixin setHeaderProperties($color, $font-weight, $font-size, $line-height: 0) {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin largeScreenMediaQuery {
    @media (max-width: #{$large-screen-breakpoint}) {
        @content;
    }
}

@mixin mediumScreenMediaQuery {
    @media (max-width: #{$medium-screen-breakpoint}) {
        @content;
    }
}

@mixin smallScreenMediaQuery {
    @media (max-width: #{$small-screen-breakpoint}) {
        @content;
    }
}

@mixin break-point($args) {
    @if length($args) == 1 {
        @media (max-width: nth($args, 1)) {
            @content;
        }
    }
}